body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f5f5f5; 
    margin: 0;
    padding: 0;
}

.container {
    margin: 40px auto;
    max-width: 500px;
    position: relative;

}

.search-wrapper {
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

input[type="text"] {
    width: 80%;
    max-width: 370px;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    background-color: #292929; 
    color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus {
    background-color: #333;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    outline: none;
}

.clear-search {
    position: absolute;
    top: 50%;
    left: calc(100% - 12%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #ccc;
    z-index: 1;
    font-size: 20px;
    transition: color 0.3s;
}

.clear-search:hover {
    color: #fff; 
}

#results {
    margin-top: 20px;
    margin-right: calc(10% + 5px);
    margin-left: calc(10% + 5px);
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 15px;
}

a {
    color: #f5f5f5; 
    text-decoration: none;
}

a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.result {
    background-color: #242424; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.helper-text {
    font-size: 12px;
    color: rgba(201, 209, 217, 0.5);
    text-align: center;
    margin-top: 5px;
}

.result:hover {
    transform: translateY(-5px);
}

.result a {
    color: #f5f5f5; 
    text-decoration: none;
    font-weight: bold;
}

.result a:hover {
    color: #f0f0f0; 
    text-decoration: underline;
}

.result p {
    margin-top: 10px;
    color: #f5f5f5; 
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s, text-shadow 0.3s;
}

h2.gradient-basic {
    color: white;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

h2.gradient-advanced {
    background: linear-gradient(90deg, rgba(255,255,255,0), white 55%, #f5f5f5 45%, rgba(255,255,255,0));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}

.container h2::before {
    content: '';
    padding-right: 1.6em;
}

.container h2::after {
    content: '🔎️';
    opacity: var(--magnifying-glass-opacity, 0);
    color: #f5f5f5;
}

.result img,
.result .podcast-logo,
.result .rss-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.podcast-logo {
    max-width: 20px;
    max-height: 20px;
    overflow: hidden;
}

.rss-icon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.rss-icon:hover {
    transform: scale(1.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    animation: slideIn 0.5s, slideOut 0.5s forwards 2s;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(100%);
    }
    to {
        transform: translateX(-50%) translateY(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(-50%) translateY(0);
    }
    to {
        transform: translateX(-50%) translateY(100%);
    }
}

.podcast-info {
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    padding: 20px;
    text-align: left;
}

.podcast-info h2 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #f5f5f5;
    margin-top: -5px;
}

.episode {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    margin: 20px 0;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.episode h4 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #f5f5f5;
    font-weight: bold;
    margin-top: -10px;
    text-align: center;
}

.pub-date {
    font-size: 12px;
    color: #aaa;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: -5px;
    text-align: center;
    opacity: 50%;
}

.episode p {
    color: #e0e0e0;
    margin-top: 5px;
}

#audio-player {
    width: 500px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: #242424;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f5f5f5;
}

#audio-player {
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

@media screen and (max-width: 500px) {
    #audio-player {
        max-width: 100vw;
    }
}

.sort-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #f5f5f5;
    background-color: #333;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    z-index: 1;
    height: 28px;
    line-height: 10px;
}

.sort-button:hover {
    background-color: #444;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
