/* Oprindelig CSS */

body {
    font-family: Arial, sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
    margin: 0;
    padding: 0;
}

.container {
    width: 500px;
    margin: 100px auto;
}

.search-wrapper {
    position: relative;
    display: inline-block;
}

input[type="text"] {
    width: 500px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #161b22;
    color: #c9d1d9;
}

.clear-search {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #8b949e;
}

.clear-search:hover {
    color: #c9d1d9;
}

#results {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #58a6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.result {
    background-color: #161b22;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.helper-text {
    font-size: 12px;
    color: rgba(201, 209, 217, 0.5);
    text-align: center;
    margin-top: 5px;
}

.result:hover {
    transform: translateY(-5px);
}

.result a {
    color: #58a6ff;
    text-decoration: none;
    font-weight: bold;
}

.result a:hover {
    text-decoration: underline;
}

.result p {
    margin-top: 10px;
    color: #8b949e;
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #58a6ff;
}

.result img,
.result .podcast-logo,
.result .rss-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.podcast-logo {
    max-width: 20px;
    max-height: 20px;
    overflow: hidden; /* Tilføjet overflow */
}

.rss-icon {
    width: 15px;
    height: 15px;
    margin-left: 10px;
    cursor: pointer; 
}

@media only screen and (max-width: 600px) {
    .container {
        width: calc(100% - 40px);
        margin: 20px;
    }

    .results-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
