body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 18);
  color: #f5f5f5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  position: relative;
  padding-bottom: 30px;
  border-radius: 12px;
}

.search-wrapper {
  text-align: center;
  position: relative;
  margin: 50px 20px 20px;
}

input[type="text"] {
  width: 80%;
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background-color: #292929;
  color: #e0e0e0;
  box-shadow: 0 4px 8px #0003;
  transition: background-color 0.3s,box-shadow .3s;
  text-align: center;
}

input[type="text"]:focus {
  background-color: #333;
  box-shadow: 0 4px 12px #0006;
  outline: none;
}

#episodeSearchInput {
  max-width: 60%;
  margin: 0 auto;
  padding: 10px 15px;
  font-size: 0.9em;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: 0 4px 6px #0000001a;
  color: #fff;
  text-align: center;
  outline: none;
}

.clear-search {
  position: absolute;
  top: 50%;
  right: 8%;
  width: 60px;
  height: 51px;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(60, 60, 60, 0.8);
  z-index: 1;
  font-size: 20px;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clear-search:hover {
  color: #fff;
}

#results {
  margin-top: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 15px;
}

a {
  color: #f5f5f5;
  text-decoration: none;
}

a:hover {
  color: #f0f0f0;
  text-decoration: none;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.result {
  background-color: #242424;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 10px #00000026;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.helper-text {
  font-size: 0.7rem;
  color: #c9d1d980;
  text-align: center;
  margin-top: 5px;
}

.result:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px #00000040;
}

.result a {
  color: #f5f5f5;
  font-weight: 700;
  transition: color 0.3s;
}

.result a:hover {
  color: #f0f0f0;
  text-decoration: underline;
}

.result p {
  margin-top: 10px;
  color: #f5f5f5;
}


.result .podcast-logo,.result .rss-icon,.result img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
}

h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 2px 2px 4px #0003;
  transition: background 0.3s,transform 0.3s,text-shadow .3s;
}

.toast {
  backdrop-filter: blur(6px);
  position: fixed;
  bottom: 40%;
  left: 50%;
  max-width: 300px;
  transform: translateX(-50%);
  background-color: #000c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  animation: slideIn 0.5s,slideOut .5s forwards 2s;
  z-index: 3;
  border: 1px solid rgba(40,40,40,0.4);
  text-align: center;
  word-break: break-word;
}

@keyframes slideIn {
  from {
    transform: translateX(-50%) translateY(100%);
  }

  to {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(-50%) translateY(0);
  }

  to {
    transform: translateX(-50%) translateY(100%);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

#playerModal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  backdrop-filter: blur(6px);
  animation: fadeIn .3s ease-in;
}

#podcast-info::-webkit-scrollbar {
  display: none;
}

#podcast-info {
  position: relative;
  background: rgba(36, 36, 36, 0.2);
  border: 1px solid rgba(40,40,40,0.6);
  border-radius: 12px;
  max-height: 92%;
  max-width: 420px;
  width: 96%;
  text-align: center;
  animation: scaleIn 0.2s ease-in-out forwards;
  padding: 5px;
  margin: 10px auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#podcast-info-h2 {
  max-width: 80%;
  display: block;
  margin: 10px auto;
  margin-bottom: 15px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#podcast-info p {
  color: #e0e0e0;
  text-align: center;
  line-height: 1.2;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
  max-width: 400px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
  transition: max-height .2s ease-out,padding .2s ease-out;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#podcast-info p {
  -webkit-line-clamp: 3;
  max-height: 6em;
}

#podcast-info p.expanded {
  -webkit-line-clamp: unset;
  max-height: 90%;
}

.episode {
  background: rgba(36, 36, 36, 0.2);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  padding: 10px 5px;
  margin: 0 5px 5px;
  max-height: 80%;
  text-align: center;
  position: relative;
  animation: scaleIn .3s ease-in-out forwards;
  border: 1px solid rgba(40,40,40,0.3);
  overflow: hidden;
}

.episode-description {
  color: #e0e0e0;
  margin-top: 5px;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.2;
  font-size: 0.8rem;
}

.episode-description.expanded {
  -webkit-line-clamp: unset;
  cursor: auto;
}

.episode h4 {
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 5px;
  color: #f5f5f5;
  font-weight: 700;
  text-align: center;
}

.pub-date {
  font-size: 12px;
  color: #aaa;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 0;
  text-align: center;
  opacity: 80%;
}

.episode-item.playing, .episode.playing {
  background: rgba(0, 0, 0, 0.75);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 4px solid #ffffff4d;
  border-radius: 50%;
  border-top: 4px solid #fff;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 10px;
  left: 20px;
  transform: translate(-50%,-50%);
}

.icon-link i {
  font-size: 24px;
}

.modal-icons {
  display: flex;
  justify-content: space-evenly;
}

.icon-button,.icon-link {
  background-color: transparent;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  transition: background-color .2s ease,transform .2s ease,box-shadow .2s ease;
  border: none;
  cursor: pointer;
}

.icon {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.icon-link i {
  font-size: 28px;
  transition: color 0.3s,transform .3s;
}

.icon-link img {
  width: 28px;
  height: 28px;
  transition: transform .3s;
}

#listEpisodes i {
  color: LightGray;
}

#playOnSite i {
  color: #3cb371;
}

#copyRSSButton i {
  color: #ff6347;
}

#openInAppLink i {
  color: #9c27b0;
}

.icon-link:hover i {
  color: #81c784;
  transform: scale(1.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.podcast-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.podcast-card {
  background: #24242433;
  backdrop-filter: blur(6px);
  border: 1px solid #24242480;
  border-radius: 12px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: transform .2s ease,box-shadow .2s ease;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 10px #00000080;
  overflow: hidden;
}

.podcast-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 15px #0000004d;
}

.podcast-cover {
  width: 100%;
  height: 87.5%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.podcast-title {
  font-size: 1em;
  font-weight: 700;
  color: #f5f5f5;
  padding: 0 10px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000b3;
  backdrop-filter: blur(6px);
  animation: fadeIn .3s ease-in;
}

.modal-content {
  background: rgba(36, 36, 36, 0.2);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  max-height: 95%;
  width: 90%;
  max-width: 420px;
  margin: 6rem auto;
  text-align: center;
  position: relative;
  animation: scaleIn 0.2s ease-in-out forwards;
  border: 1px solid rgba(40, 40, 40, 0.6);
  overflow: hidden;
  padding: 5px;
}

.modal-content h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

#modalProvider {
  opacity: .9;
  font-size: .9rem;
  color: #d0d0d0;
  margin-bottom: 15px;
  margin-top: -5px;
}

#modalDescription {
  color: #e0e0e0;
  font-size: 1rem;
  line-height: 1.4;
  padding-left: 2%;
  padding-right: 2%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  white-space: normal;
  min-height: 0;
  transition: max-height 0.5s ease, padding 0.5s ease;
}

#modalDescription.expanded {
  max-height: 50%;
  -webkit-line-clamp: unset;
  white-space: normal;
}

.close {
  position: absolute;
  top: 0.5em;
  right: 0.8em;
  font-size: 1.5rem;
  color: rgba(60,60,60,0.6);
  cursor: pointer;
  transition: color .2s ease;
}

.close:hover {
  color: #fff;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#episodeListModal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  backdrop-filter: blur(6px);
  animation: fadeIn .3s ease-in;
}

#episodeListModal .modal-content {
  opacity: 0.2;
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding-top: 10px;
  width: 96%;
  max-width: 420px;
  margin: 10px auto;
  text-align: center;
  box-shadow: 0 15px 30px #00000080;
  position: relative;
  animation: scaleIn .2s ease-in-out forwards;
  border: 1px solid rgba(40,40,40,0.6);
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

#episodeListModal h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

#episodesContainer::-webkit-scrollbar {
  display: none;
}

#episodesContainer .episode-list-item {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  transition: background-color .2s;
}

#episodesContainer {
  max-height: 100%;
  margin-top: 5px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.episode-list-item:hover {
  background: rgba(36, 36, 36, 0.2);
}

strong {
  font-weight: bold;
  color: orange;
}

.episode-list {
  display: flex;
  flex-direction: column;
}

.episode-header {
  display: flex;
  justify-content: space-between;
}

#sortByDate,#sortByTitle {
  font-size: 1.5em;
  font-weight: lighter;
  cursor: pointer;
  opacity: 0.6;
  position: absolute;
  top: 4.6rem;
}

#sortByTitle {
  left: 3%;
}

#sortByDate {
  right: 3%;
}

.episode-item {
  backdrop-filter: blur(6px);
  border-radius: 5px;
  padding: 10px 5px;
  margin: 0 5px 5px;
  max-height: 80%;
  text-align: center;
  position: relative;
  animation: scaleIn .3s ease-in-out forwards;
  border: 1px solid rgba(40,40,40,0.3);
  overflow: hidden;
}

.episode-title {
  width: 80%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  color: #ffff;
  margin-top: -5px;
  font-size: 1rem;
  -webkit-mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 100%);
}

.player-episode-title {
  overflow: hidden;
  color: #ffff;
  font-size: 1rem;
  transition: font-size 0.3s ease;
}

.player-episode-title.long-title {
  font-size: 0.95rem;
}

.episode-date {
  width: 25%;
  font-size: 0.8em;
  text-align: right;
  margin-top: -5px;
}

.episodelist-description {
  color: #ffffffb3;
  margin-bottom: -5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.9em;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: left;
  position: relative;
}

.episodelist-description.expanded {
  white-space: normal;
  word-break: break-word;
  text-align: left;
  display: block;
  z-index: 2;
}

.blur {
  filter: blur(6px);
  pointer-events: none;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: background-color .3s ease;
}

.spinner {
  font-size: 3em;
  color: #ddd;
  z-index: 4;
}

#modalPodcastTitle {
  max-width: 80%;
  display: block;
  margin: 10px auto 15px;
  color: #fffc;
  font-size: 1.5rem;
  text-align: center;
}
.button-container {
  float: right;
  display: block;
  padding-left: 10px;
  margin-left: 10px;
  z-index: 2;
}
.play-button, .copy-button, .stop-button {
  font-size: 1.2rem;
  cursor: pointer;
  background: none;
  border: none;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s ease, transform 0.3s ease;
  margin-left: 5px;
}

.play-button {
  color: #7ef79e;
}

.copy-button {
  color: white;
}

.stop-button {
  color: #ff3b3b;
}

.audio-player {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-height: max(10vh, 50px);
  max-width: 400px;
  backdrop-filter: blur(6px);
  border-radius: 15px;
}

#audio-player {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  height: 32px;
  max-height: max(8vh, 40px);
  max-width: 400px;
  backdrop-filter: blur(6px);
  opacity: 0.7;
  border-radius: 15px;
  background: none;
}

.plyr {
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  opacity: 0.5;
  position: relative;
}

#episodeListModal {
  background: rgba(6, 6, 6, 0.4);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
}

.theme-toggle,  .toggle-fully-listened {
  position: absolute;
  bottom: 10px;
  transform: translateY(-50%);
  font-weight: 100;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background: transparent;
  border: 0;
  color: white;
  opacity: 0.6;
}
 .theme-toggle {
     right: 2.5rem;
}
 .toggle-fully-listened {
     left: 2.5rem;
}
 .pagination-controls {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}
 .pagination-button {
     background-color: transparent;
     color: #f5f5f5;
     border: none;
     font-size: 24px;
     border-radius: 10px;
     padding: 10px 20px;
     margin: 0 20px;
     opacity: 0.7;
     cursor: pointer;
     transition: background-color 0.3s, box-shadow 0.3s;
}
 .pagination-button:hover {
     background-color: #444;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
 .page-info {
     color: #f5f5f5;
     font-size: 16px;
}

a:focus-visible, i:focus-visible, button:focus-visible {
    background-color: transparent; 
}

a:focus:not(:focus-visible), i:focus:not(:focus-visible), button:focus:not(:focus-visible),
a:active, i:active, button:active {
    outline: none;
    background-color: transparent; 
    box-shadow: none;
}


 body.light-theme {
   transition: background-color 0.3s ease, color 0.3s ease;
   background-color: #f0f0f0;
}
 body.light-theme #podcast-info {
   color: black;
   border: 1px solid rgba(240,240,240,0.4);
   background: rgba(196, 196, 196, 0.2);
   transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme h2 {
     color: black;
   transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme .episode {
   color: black;
   background: rgba(196, 196, 196, 0.2);
   opacity: 0.8;
   border: 1px solid rgba(200,200,200,0.4);
   transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme .episode.playing {
  background: rgba(0, 0, 0, 0.25);
   transition: background-color 0.3s ease, color 0.3s ease;
}
body.light-theme #podcast-info p {
  text-shadow: 2px 2px 5px rgba(155, 155, 155, 0.7);
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme .episode h4 {
     color: black;
   transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme .pub-date {
     color: black;
   transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme .episode-description {
     color: black;
   transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme .pagination-button {
     color: #292929;
   transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme .pagination-button:hover {
     background: transparent;
     border: none;
   transition: background-color 0.3s ease, color 0.3s ease;
}
 body.light-theme .theme-toggle, body.light-theme .toggle-fully-listened {
   color: rgba(0, 0, 0, 0.7);
   transition: background-color 0.3s ease, color 0.3s ease;
}
body.light-theme #page-info {
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}
