body {
     font-family: Arial, sans-serif;
     background-color: #121212;
     color: #f5f5f5;
     margin: 0;
     padding: 0;
}
 body.light-theme {
     --background-color: #ffffff;
     --text-color: #000000;
     background-color: var(--background-color);
     color: var(--text-color);
}
 body.dark-theme {
     --background-color: #121212;
     --text-color: #f5f5f5;
     background-color: var(--background-color);
     color: var(--text-color);
}
 .container {
     margin: 40px auto;
     max-width: 500px;
     position: relative;
     padding-bottom: 30px;
}
 .search-wrapper {
     text-align: center;
     position: relative;
     margin-top: 50px;
     margin-bottom: 20px;
     margin-right: 20px;
     margin-left: 20px;
}
 input[type="text"] {
     width: 80%;
     max-width: 370px;
     padding: 15px;
     font-size: 18px;
     border: none;
     border-radius: 30px;
     background-color: #292929;
     color: #e0e0e0;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     transition: background-color 0.3s, box-shadow 0.3s;
}
 input[type="text"]:focus {
     background-color: #333;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
     outline: none;
}
 .clear-search {
     position: absolute;
     top: 50%;
     left: calc(100% - 12%);
     transform: translate(-50%, -50%);
     cursor: pointer;
     color: #ccc;
     z-index: 1;
     font-size: 20px;
     transition: color 0.3s;
}
 .clear-search:hover {
     color: #fff;
}
 #results {
     margin-top: 20px;
     margin-right: calc(10% + 5px);
     margin-left: calc(10% + 5px);
}
 ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
}
 li {
     margin-bottom: 15px;
}
 a {
     color: #f5f5f5;
     text-decoration: none;
}
 a:hover {
     color: #f0f0f0;
     text-decoration: underline;
}
 .results-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     gap: 20px;
}
 .result {
     background-color: #242424;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
     transition: transform 0.3s ease, box-shadow 0.3s ease;
}
 .helper-text {
     font-size: 12px;
     color: rgba(201, 209, 217, 0.5);
     text-align: center;
     margin-top: 5px;
}
 .result:hover {
     transform: translateY(-5px);
}
 .result a {
     color: #f5f5f5;
     text-decoration: none;
     font-weight: bold;
}
 .result a:hover {
     color: #f0f0f0;
     text-decoration: underline;
}
 .result p {
     margin-top: 10px;
     color: #f5f5f5;
}
 h2 {
     text-align: center;
     font-size: 28px;
     margin-bottom: 20px;
     font-weight: bold;
     letter-spacing: 1.5px;
     -webkit-background-clip: text;
     background-clip: text;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
     transition: background 0.3s, transform 0.3s, text-shadow 0.3s;
}

 .result img, .result .podcast-logo, .result .rss-icon {
     width: 20px;
     height: 20px;
     border-radius: 50%;
     margin-right: 10px;
}
 .podcast-logo {
     max-width: 20px;
     max-height: 20px;
     overflow: hidden;
}
 .rss-icon {
     width: 15px;
     height: 15px;
     margin-left: 10px;
     cursor: pointer;
     transition: transform 0.2s;
}
 .rss-icon:hover {
     transform: scale(1.3);
}
 .close {
     color: #aaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
}
 .close:hover, .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
}
 .toast {
     position: fixed;
     bottom: 200px;
     left: 50%;
     transform: translateX(-50%);
     background-color: rgba(0, 0, 0, 0.8);
     color: #fff;
     padding: 10px 20px;
     border-radius: 5px;
     animation: slideIn 0.5s, slideOut 0.5s forwards 2s;
}
 @keyframes slideIn {
     from {
         transform: translateX(-50%) translateY(100%);
    }
     to {
         transform: translateX(-50%) translateY(0);
    }
}
 @keyframes slideOut {
     from {
         transform: translateX(-50%) translateY(0);
    }
     to {
         transform: translateX(-50%) translateY(100%);
    }
}
 .podcast-info {
     background-color: #242424;
     border-radius: 10px;
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
     padding: 20px;
     text-align: left;
     line-height: 1.4;
}
 .podcast-info h2 {
     font-size: 28px;
     margin-bottom: 20px;
     font-weight: bold;
     letter-spacing: 1.5px;
     color: #f5f5f5;
     margin-top: -5px;
}
 .episode {
     background-color: #333;
     border-radius: 10px;
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
     margin: 20px 0;
     padding: 20px;
     cursor: pointer;
     position: relative;
     color: #f5f5f5;
}
 .episode-description {
     color: #e0e0e0;
     margin-top: 5px;
     overflow: hidden;
     transition: max-height 0.3s ease-out;
     cursor: pointer;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     text-overflow: ellipsis;
     white-space: normal;
     word-break: break-word;
     line-height: 1.3;
}
 .episode-description.expanded {
     max-height: none;
     -webkit-line-clamp: unset;
     cursor: auto;
}
 .episode h4 {
     font-size: 18px;
     margin-bottom: 5px;
     color: #f5f5f5;
     font-weight: bold;
     margin-top: -10px;
     text-align: center;
}
 .pub-date {
     font-size: 12px;
     color: #aaa;
     font-weight: normal;
     margin-bottom: 5px;
     margin-top: -5px;
     text-align: center;
     opacity: 50%;
}
 .episode.playing {
     background-color: #444;
     color: #fff;
}
 .episode p {
     color: #e0e0e0;
     margin-top: 5px;
}
 #audio-player {
     width: 100%;
     max-width: 500px;
     min-width: 250px;
     position: fixed;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     display: none;
}
 @media screen and (max-width: 500px) {
     #audio-player {
         max-width: 100vw;
    }
}
 .pagination-controls {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}
 .pagination-button {
     background-color: #333;
     color: #f5f5f5;
     border: none;
     border-radius: 10px;
     padding: 10px 20px;
     margin: 0 20px;
     cursor: pointer;
     transition: background-color 0.3s, box-shadow 0.3s;
}
 .pagination-button:hover {
     background-color: #444;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
 .page-info {
     color: #f5f5f5;
     font-size: 16px;
}
 body.light-theme input[type="text"] {
     background-color: #e0e0e0;
     color: #292929;
}
 body.light-theme input[type="text"]:focus {
     background-color: #fff;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
     outline: none;
}
 body.light-theme .clear-search {
     color: #292929;
}
 body.light-theme .clear-search:hover {
     color: #000;
}
 body.light-theme .result {
     background-color: #f5f5f5;
     color: #292929;
}
 body.light-theme .result:hover {
     transform: translateY(-5px);
}
 body.light-theme .result a {
     color: #292929;
}
 body.light-theme .result a:hover {
     color: #000;
     text-decoration: underline;
}
 body.light-theme .result p {
     color: #292929;
}
 body.light-theme .helper-text {
     color: rgba(41, 41, 41, 0.5);
}
 body.light-theme .result img, body.light-theme .result .podcast-logo, body.light-theme .result .rss-icon {
     border-radius: 50%;
}
 body.light-theme .toast {
     background-color: rgba(255, 255, 255, 0.8);
     color: #000;
}
 body.light-theme .podcast-info {
     background-color: #f5f5f5;
     color: #292929;
}
 body.light-theme h2 {
     background-color: #f5f5f5;
     color: #292929;
}
 body.light-theme .episode {
     background-color: #fff;
     color: #292929;
}
 body.light-theme .episode.playing {
     background-color: #e0e0e0;
     color: #333;
}
 body.light-theme .episode h4 {
     color: #292929;
}
 body.light-theme .pub-date {
     color: #666;
}
 body.light-theme .episode-description {
     color: #666;
}
 body.light-theme .pagination-button {
     background-color: #e0e0e0;
     color: #292929;
}
 body.light-theme .pagination-button:hover {
     background-color: #ccc;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}
 body.light-theme .page-info {
     color: #292929;
}
 .theme-toggle {
     position: absolute;
     right: 10px;
     bottom: 10px;
     transform: translateY(-50%);
     width: 40px;
     height: 40px;
     border-radius: 50%;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 24px;
}
 .theme-toggle img {
     width: 50%;
     height: 50%;
     object-fit: contain;
}
 .toggle-fully-listened {
     position: absolute;
     left: 10px;
     bottom: 10px;
     transform: translateY(-50%);
     width: 40px;
     height: 40px;
     border-radius: 50%;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 24px;
     background: transparent;
     border: 0;
     color: white;
}
 .toggle-fully-listened img {
     width: 100%;
     height: 100%;
     object-fit: contain;
}
 @keyframes spin {
     0% {
         transform: rotate(0deg);
    }
     100% {
         transform: rotate(360deg);
    }
}
 .loading-spinner {
     border: 4px solid rgba(255, 255, 255, 0.3);
     border-radius: 50%;
     border-top: 4px solid #ffffff;
     width: 20px;
     height: 20px;
     animation: spin 1s linear infinite;
     position: absolute;
     top: 10px;
     left: 20px;
     transform: translate(-50%, -50%);
}
 .dark-theme .loading-spinner {
     border-top-color: #f5f5f5;
}
 .light-theme .loading-spinner {
     border-top-color: darkgray;
}
 .modal {
     display: none;
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.8);
     animation: fadeIn 0.3s ease-in-out;
}
 .modal-content {
     top: 25px;
     background: #242424;
     border-radius: 12px;
     padding: 15px;
     max-width: 380px;
     margin: 15px auto;
     text-align: center;
     box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.5);
     position: relative;
}
 .modal-content h3 {
     font-size: 2rem;
     margin-bottom: 15px;
     color: #fff;
     font-weight: bold;
     letter-spacing: 1.2px;
     background: f5f5f5;
     -webkit-background-clip: text;
     background-clip: text;
     text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: color 0.3s ease;
}
 @media screen and (max-width: 500px) {
     .modal-content {
         max-width: 90%;
         padding: 15px;
    }
     .modal-content h3 {
         font-size: 1.6rem;
    }
}
 #modalProvider {
     opacity: 0.9;
     font-size: 0.9em;
     color: #555;
}
#modalDescription {
    color: white;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    line-height: 1.3;
    max-height: 13em;
    transition: max-height 0.3s ease-out, padding 0.1s ease-out;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}
#modalDescription.expanded {
    max-height: 1000px;
    padding-bottom: 20px;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    -webkit-line-clamp: unset;
}
 .modal-icons {
     display: flex;
     justify-content: space-evenly;
     padding-top: 20px;
     padding-bottom: 20px;
}
 .icon-link, .icon-button {
     background-color: transparent;
     padding: 10px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 80px;
     height: 80px;
     transition: background-color 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
     border: none;
     cursor: pointer;
}
 .icon {
     width: 60px;
     height: 60px;
     object-fit: contain;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.modal.fade-out {
    animation: fadeOut 0.3s ease-in-out;
}
.modal-content.fade-out {
    animation: scaleIn 0.3s ease-in reverse; 
}

.podcast-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 16px;
    padding: 20px;
    justify-items: center;
}

.podcast-card {
    background-color: #242424;
    border: none;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 150px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.podcast-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.podcast-cover {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.podcast-title {
    font-size: 1rem;
    font-weight: bold;
    color: #f5f5f5;
    margin-top: 8px;
}
body.light-theme .podcast-card {
    background-color: #f5f5f5;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}
body.light-theme .podcast-title {
    color: #292929;
}
body.light-theme .podcast-cover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
